<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Manager Page - View CV Employee</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--CSS-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.material.min.css">
        <link rel="stylesheet" href="../css/customized.css">
        <!--End CSS-->
    </head>
    <body>
        <!--Sidebar-->
        <ul id="slide-out" class="sidenav sidenav-fixed">
            <li>
                <div class="user-view">
                    <div class="background">
                        <img src="images/bg-login.jpg">
                    </div>
                    <!--<img class="circle" th:attr="src=@{'data:image/jpeg;base64,'+${employeeId.photo}}">-->
                    <span class="white-text" th:text="${employeeId.firstName}"></span> <span class="white-text" th:text="${employeeId.lastName}"></span>
                    <span class="white-text email" th:text="${employeeId.email}"></span>
                    <a th:href="@{/logout}"><span class="white-text">Log Out</span></a>
                </div>
            </li>
            <li><a class="subheader">Employee</a></li>
            <li><a href="curriculum-vitae"><i class="material-icons">account_circle</i>Curriculum Vitae</a></li>
            <li><a class="subheader">Manager</a></li>
            <li><a href="cv-employee"><i class="material-icons">people</i>View CV Employee</a></li>
        </ul>
        <a href="#" data-target="slide-out" class="btn-floating btn-large waves-effect waves-light red sidenav-trigger"><i class="material-icons left">menu</i></a>
        <!--End of sidebar-->

        <!--Content-->
        <main>
            <div class="row">
                <div class="col s12">
                    <div id="listEmployee" class="card hoverable">
                        <div class="card-content">
                            <span class="card-title center">List Employee</span>
                            <div class="row">
                                <div class="col s12">
                                    <table id="listEmployees">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Birth Place</th>
                                                <th>Birth Date</th>
                                                <th>Gender</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="as : ${employees}">
                                                <td></td>
                                                <td th:text="${as.firstName}"></td>
                                                <td th:text="${as.lastName}"></td>
                                                <td th:text="${as.birthPlace}"></td>
                                                <td th:text="${as.birthDate}"></td>
                                                <td th:text="${as.gender}"></td>
                                                <td>
                                                    <a th:href="@{'/save-cv?id=' + ${as.id}}" class="btn-floating tooltipped" data-position="bottom" data-tooltip="Save as PDF"><i class="material-icons left">print</i></a>
                                                    <button class="btn-floating tooltipped" data-position="bottom" data-tooltip="Send Email Notification" th:attr="onclick=|send('${as.email}')|"><i class="material-icons left">email</i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!--End of Content-->

        <!--Javascript-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.material.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"></script>
        <script src="js/customized.js"></script>
        <script th:inline="javascript">
            function send(email) {
                window.location.href = "/sendEmail?email=" + email;
            }
        </script>
        <script th:inline="javascript" th:if="${statusEmail}">
            $(document).ready(function () {
                Swal.fire({
                    type: 'success',
                    title: 'Success',
                    text: 'Email Successfully Sent!'
                })
            });
        </script>
        <!--End Javascript-->
    </body>
</html>
